* {
  box-sizing: border-box;
}

body {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  user-select: none;
  border: 1px solid black;
}
